# ========================================
# Rogue Soldiers Framework
# Environment Configuration
# ========================================

APP_NAME=Rogue Soldiers Framework
APP_VERSION=0.1.0
NODE_ENV=development

# ========================================
# Discord
# ========================================

DISCORD_TOKEN=

# ========================================
# Database
# ========================================

DATABASE_PROVIDER=sqlite

# ========================================
# Logging
# ========================================

LOG_LEVEL=info