# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log

# Database
data/
*.db
*.sqlite
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# npm
npm-debug.log*